* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

#animation{
    align-self: flex-start;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(241, 175, 53);
    animation: move 20s infinite;
   
}


@keyframes move {
    0% {
        transform: translateX(0px);
        background-color:greenyellow;
 
 
    }
    50% {
        transform: translateX(90vw);
        border-radius: 50%;
        background-image: url('https://cdn.pixabay.com/photo/2012/04/12/21/37/rabbit-30751_960_720.png');
    }
    100% {
        transform: translateX(0px);
    }
}

