* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: center;
}

#animation{
    
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(241, 175, 53);
    animation: move 5s infinite;
   
}


@keyframes move {
    25% {
        transform: translateX(200px);
        background-color:greenyellow;
 
 
    }
    50% {
        transform: translateY(200px) translateX(200px);
 
    }
    75% {
        transform: translateX(0px) translateY(200px)  ;
    }
    100%{
        transform: translateY(0);
    }
}

