*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
   
}

.container-item, .container-item2{
    background-color: rgb(101, 101, 221);
    width: 150px;
    height: 150px;
    transition: all 1s;
    transition-timing-function: ease-in;
}

.container-item:hover {
   background-color: rgb(37, 37, 168);
  
}